/* Sidebar Container */
.sidebar {
  background: #f3f4f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  top:0;
  left:0;
  height: 100vh;
  overflow: hidden;
position: relative;
  transition: width 0.4s ease-in-out;
}

.pinned {
  transform: rotate(45deg);
  transition: transform 0.2s ease;
}
.sidebar-pin {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  background: #f3f4f6;
}

.sidebar-pin:hover {
  background: #e5e7eb;
}

.pinned {
  transform: rotate(45deg);
}
/* Sidebar Width States */
.collapsed {
  width: 70px;
}

.expanded {
  width: 220px;
}

/* Toggle Button */
.sidebar-toggle {
  cursor: pointer;
  margin-bottom: 20px;
}

/* Profile Section */
.sidebar-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 110px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 15px;
}

/* Profile Image */
/* Avatar base */
.avatar {
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.41s ease;
}

/* Collapsed sidebar avatar */
.collapsed .avatar {
  width: 45px;
  height: 45px;
}

/* Expanded sidebar avatar */
.expanded .avatar {
  width: 70px;
  height: 70px;
  transform: scale(1.05);
}

/* Username */
.username {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  transition: opacity 0.25s ease;
}

.collapsed .username {
  opacity: 0;
}

.expanded .username {
  opacity: 1;
}

/* Navigation Container */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Navigation Links */
.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;

  height: 40px;
  padding: 0 10px;

  border-radius: 6px;
  text-decoration: none;
  color: #111;

  overflow: hidden;
}

/* Icon Size */
.sidebar-link svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

/* Hover State */
.sidebar-link:hover {
  background: #e0ecff;
}

/* Active Page */
.sidebar-link.active {
  background: #e0ecff;
  color: #2563eb;
}

/* Text Animation */
.sidebar-link span {
  white-space: nowrap;
  opacity: 0;
  min-width: 120px;

  transition: opacity 0.2s ease 0.15s;
}

.expanded .sidebar-link span {
  opacity: 1;
}

/* Bottom Logo */
.sidebar-logo {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}